.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2F5;
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
    
    position: relative;
    z-index: 1;

}

/*Form*/

#form {
    max-width: 500px;
}

#fomr h2 {
    margin-top: 0;
}

#form form input {
    border: none;
    border-radius: .2rem;

    padding: .8rem;

    width: 100%;
}

.input-group {
    margin-top: .8rem;
}

.input-group small {
    opacity: .4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions.button
.input-group.actions, button {
    width: 48%;
}