body {
    background-color: #F0F2F5;
    font-family: 'Rubik', sans-serif;
}
#navbar {
    background-color: #2B9348;
}

#navbarNav {
    
    justify-content: flex-end;
}

.nav-link {
    color: white;

    padding-left: 10%;
}


.image_header {
    
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;

    

}

.title_header {
   text-align: center;
    font-weight: bold;
   padding-top: 5%;
}

.container_about-us {
    display: flex;
    justify-content: space-around;
}

.about-us {
    margin-top: 20%;
    background: url(./app/assents/imgs/Zig-Zag.svg);

    height: 50vh;
}

.about-us_title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;

    padding-top: 5%;
}

.about-us_text {
    padding-top: 5%;
    font-size: 1.3rem;
    padding-left: 5%;
    
}

.button_plans_about-us {
    margin-top: 7%;
    width: 30%;
    height: 60px;
    background: #0000;

    
    border-radius: 10px;
    transition: 0.5s;
}

.button_plans_about-us:hover {
    background-color: #F0F2F5 ;
    
}

.comments {
    height: 90vh;
}

.comments_title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;

    padding-top: 5%;
}

.comments_subtitle {
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
}

.container_comments {
    display: flex;
    
    justify-content: space-around;
    

    margin-top: 10%;
    
    
}

.card-border {
    border-radius: 5px;
}
