* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $background-color;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 93.75%;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}


h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: $dark-blue;

    font-weight: normal;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;  

    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
